#nav a {
  color: #fff;
  &:hover {
    color: $default-color;
  }
}

#landing-carousel {
  h1, h2 {
    color: #fff;
  }

  h1 {
    border-bottom: 1px solid #fff;
  }
  .item {
    @include fullsize-background;
    width: 100%;
    height: 100%;
  }

  .item-description {
    width: 440px;
  }

  .item-go {
    @include round-btn(200px, 200px, 0.7);
    font-size:30px;
    color: $dark-grey;
    text-transform: uppercase;

    &:hover {
      color: $default-color;
      opacity: 1;
    }
  }
}