#landing-header {
  @extend .min-page-padding;
  @extend .clear;
  color: #fff;
  background-color: transparent;
  position: absolute;
  /*padding: 25px 30px 25px 30px;*/
  height: 40px;
  width: 100%;
  z-index: 1;

  a {
    color: $default-contrast-font-color;
    &:hover {
      color: $default-color;
    }
  }

  #logo {
    @extend .left;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  #header-nav {
    @extend .right;
    font-size: 17px;
    li {
      display: inline;
      list-style-type: none;
    }
  }
}

#landing-carousel {
  h1, h2 {
    color: $default-contrast-font-color;
  }

  h1 {
    border-bottom: 1px solid #fff;
  }
  .item {
    @include fullsize-background;
    width: 100%;
    height: 100%;
  }

  .item-description {
    width: 440px;
  }

  .item-go {
    @include round-btn(200px, 200px, 0.7);
    font-size:30px;
    color: $dark-grey;
    text-transform: uppercase;

    &:hover {
      color: $default-color;
      opacity: 1;
    }
  }
}