{% extends "projects/base.html" %}

{% block content_ %}
    {% block app_content %}

        <div>
            <h2>{{ question.question }}</h2>
        </div>
        <div>
            {% if question.answer %}
                <p>Answer :</p>
                {{ question.answer }}
            {% else %}
               <p>No answers yet!</p>
                {% if question.to_user == request.user %}
                    <a href="{{ question.pk }}/addanswer">Add an answer</a>
                {% endif %}
            {% endif %}

        </div>
    {% endblock %}
{% endblock %}