<h1>Approve contribution petitions</h1>

{% regroup projectroles by project as projects %}

<ul>
    {% for project in projects %}
        <h2>{{ project.grouper }}</h2>
        {% for role in project.list %}
            <ul>
                <li>
                    {{ role.user }}
                    {{ role.get_role_str }}
                    <a href="{% url "projects:approve-contribution" role.project.id role.user.id %}">Approve</a>
                    <a href="{% url "projects:deny-contribution" role.project.id role.user.id %}">Deny</a>
                </li>
            </ul>
        {% endfor %}
    {% endfor %}
</ul>