{% extends "projects/base.html" %}

{% block app_content %}
    {% if project_role %}
        {% if project_role.approved %}
            <p>{{ project_role.get_role_str }}</p>
        {% else %}
            <p>{{ project_role.get_role_str }} role petition is awaiting for approval</p>
        {% endif %}
        <a href="#">Revoke role</a> <!-- TODO -->
    {% else %}
        <form method="post">
            {% include "form.html" %}
            <input type="submit" value="Request" />
        </form>
    {% endif %}
{% endblock %}