{% extends "projects/base.html" %}

{% block menu %}
{% endblock %}

{% block app_content %}
    <div class="project-detail container-fluid">
        <div class="project-detail-header row">
            <div class="project-image col-xs-6" style="background-image: url()">
                <!-- project image -->
            </div>
            <div class="project-info col-xs-6">
                <div class="container-fluid">
                    <div class="row">
                      <h1>{{ project.title }}</h1>
                    </div>
                    <div class="row">
                        <i>Last modified: {{ project.modified }}</i>
                    </div>
                    <div class="row">
                        <i>Created: {{ project.created }}</i>
                    </div>
                    <div class="row">
                        <i>Author: <a href="{% url "users:account" project.user.id %}">{{ project.user.get_short_name }}</a></i>
                    </div>
                    <div class="tools">
                        <!-- <a href="#">Activities</a> -->
                        <a href="#">Members</a>
                        <a href="#">Contributors</a>
                        <a href="{% url "projects:questions" project.id %}">Questions</a>
                        <a href="{% url "projects:contribute" project.id %}">Request membership</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-detail-description">
            {{ project.body }}
        </div>
        <div>
            <h2>Comments</h2>
            <a href = "{% url 'projects:comments:comment_add' project.id %}">New Comment</a>
            {% for comment in object.comments.all %}
                <div id="comment_{{ comment.id }}">
                    <div>
                        User: {{ comment.user.first_name }}
                        {% if comment.user == request.user %}
                            <a href = "{% url 'projects:comments:comment_edit' project.id comment.id %}">Edit</a>
                        {% endif %}

                        {% if comment.user == request.user or request.user.role == USER_ROLES.MODERATOR %}
                            <a href = "{% url 'projects:comments:comment_delete' project.id comment.id %}">Delete</a>
                        {% endif %}
                    <div>
                        Published: {{ comment.created }}
                        Modified: {{ comment.modified }}
                    </div>
                    </div>
                    <div>
                        {% if comment.is_removed %}
                            <i>Removed</i>
                        {% else %}
                            {{ comment.content }}
                        {% endif %}
                    </div>
                </div>
                <hr>
            {% empty %}
                No comments - be the first one to post!
            {% endfor %}
        </div>
    </div>
{% endblock %}