{% extends "projects/base.html" %}

{% block menu_title %}
    <h1>Projects</h1>
{% endblock %}

{% block app_content %}

    <script type="text/javascript">
        function search(event, project) {
            if (event.which == 13 || event.keyCode == 13){
                location.href= '/projects/search/' + project;
            }
        }
    </script>

    <div class="row search">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input id="txtSearch" type="text" class="form-control" placeholder="Search for Project..." onkeypress="if(this.value)search(event,this.value)"/>
        </div>
    </div>
    <a class="corner-btn" href="{% url "projects:new" %}">+</a>
    <ul class="projects-list">
        {% for project in projects %}
        {% if project.approved %}
            <li>
                <div class="project-header"
                     style="background-image:url({{ MEDIA_URL }}{{ project.picture }})">
                    <a href="{% url "projects:detail" project.id %}">
                        {{ project.title }}
                    </a>
                </div>
                <div class="project-body">
                    <div class="project-description">
                        {{ project.body | truncatechars:150 }}
                    </div>
                    <div class="project-author">
                        Started by {{ project.user.get_short_name }}
                    </div>
                    <div class="project-buttons">
                        <a href="{% url "projects:detail" project.id %}">
                            Explore
                        </a>

                        {% if project.user == request.user %}
                            <a href = "{% url "projects:edit" project.id %}">Edit</a>

                        {% endif %}

                    </div>
                </div>
            </li>
        {% endif %}
            {% empty %}
                <div class='alert alert-info alert-dismissible error-search'  role= 'alert'>
                    <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hideen='true'>&times;</span></button>
                    <strong>No results</strong> Your search returned no matches.
                </div>
        {% endfor %}
    </ul>
{% endblock %}