{% extends "projects/base.html" %}

{% block content_ %}
    {% block app_content %}

        <div>
            <h2>Questions</h2>
            <a href = "add/">New Question</a>
            {% for question in questions %}

                    <div>
                        From: {{ question.from_user.first_name }}
                        To:   {{ question.to_user.first_name }}

                    </div>
                    <div>
                         Question:   {{ question.question }}

                    </div>
                    <div>
                        Published: {{ question.created }}

                    </div>
                    <div>
                        <a href="{{ question.id}}">See</a>
                        {% if question.answer %}
                            (Question answered)
                        {% else %}
                            (No answered yet)
                        {% endif %}
                    </div>


                <hr>
            {% empty %}
                No questions
            {% endfor %}
        </div>
    </div>

    {% endblock %}
{% endblock %}