{% extends "projects/base.html" %}
{% load breadcrumb %}

{% block breadcrumb_ %}
    {{ block.super }}
    {% with "Project '"|add:question.project.title|add:"'" as project_name %}
        {% breadcrumb_url project_name "projects:detail" question.project.id %}
    {% endwith %}
    {% breadcrumb_url "Technical requests" "projects:technical-requests" question.project.id %}
    {% with "Technical request '"|add:question.question|add:"'" as technical_name %}
        {% breadcrumb_url technical_name "projects:technical-request-answer" question.project.id question.id %}
    {% endwith %}
{% endblock %}

{% block app_content %}

    <div>
        <h2>{{ question.question }}</h2>
    </div>
    <div>
        {% if question.answer %}
            <p>Answer :</p>
            {{ question.answer }}
        {% else %}
           <p>No answers yet!</p>
            {% if question.to_user == request.user %}
                <a href="{% url "projects:technical-request-answer-new" question.project.id question.id %}">Add an answer</a>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}