{% extends "projects/base.html" %}
{% load breadcrumb %}

{% block breadcrumb_ %}
    {{ block.super }}
    {% with "Project '"|add:question.project.title|add:"'" as project_name %}
        {% breadcrumb_url project_name "projects:detail" question.project.id %}
    {% endwith %}
    {% breadcrumb_url "Technical requests" "projects:technical-requests" question.project.id %}
    {% with "Technical request '"|add:question.question|add:"'" as technical_name %}
        {% breadcrumb_url technical_name "projects:technical-request-answer" question.project.id question.id %}
    {% endwith %}
{% endblock %}

{% block app_content %}
    <div class="center box" style="width:800px">
        <p><b>{{ question.question }}</b></p>
        <div>
            {% if question.answer %}
                {{ question.answer }}
            {% else %}
                No answer yet!
                {% if question.to_user == request.user %}
                    <a href="{% url "projects:technical-request-answer-new" question.project.id question.id %}">Add an answer</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}