{% extends "projects/base.html" %}
{% load breadcrumb %}

{% block breadcrumb_ %}
    {{ block.super }}
    {% with "User '"|add:user.get_short_name|add:"' projects" as user_projects_name %}
        {% breadcrumb_url user_projects_name "projects:user-list" user.id %}
    {% endwith %}
{% endblock %}

{% block menu_title %}
    <h1>{{ user.get_short_name }} projects</h1>
{% endblock %}

{% block app_content %}
    <a class="corner-btn" href="{% url "projects:new" %}">+</a>
    <ul class="projects-list">
        {% for project in projects %}
        {% if project.approved %}
            <li>
                <div class="project-header">
                    <img class ="image-header" src="{{ MEDIA_URL }}{{project.picture }}" />
                    <a href="{% url "projects:detail" project.id %}">
                        {{ project.title }}
                    </a>
                </div>
                <div class="project-body">
                    <div class="project-description">
                        {{ project.body | truncatechars:150 }}
                    </div>
                    <div class="project-author">
                        Started by {{ project.user.get_short_name }}
                    </div>
                    <div class="project-buttons">
                        <a href="{% url "projects:detail" project.id %}">
                            Explore
                        </a>
                    </div>
                </div>
            </li>
        {% endif %}
        {% endfor %}
    </ul>
{% endblock %}