.project-detail-header {
  .project-image {
    @include fullsize-background;
    height: 55%;
  }

  .project-info {
    @extend .long-text;
  }
}

.project-info .tools {
  padding: 15px 0 15px 0;
  a + a {
    margin-left: 15px;
  }
}

.page-detail-stats .page-detail-stats-inner {
  @extend .center, .page-width, .long-text;
  padding-top: 30px;
  padding-bottom: 30px;

  .likes {
    font-size: 16px;
    margin: 0 auto;
    width: 100px;

    .like, .dislike {
      display: inline;
    }

    .dislike {
      margin-left: 10px;
    }

    .like > i.selected {
      color: #008000;
    }

    .dislike > i.selected {
      color: #800000;
    }
  }
}

.page-detail-stats {
  background-color: $lighter-grey;
}

.page-detail-description {
  @extend .center, .page-width, .long-text;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-detail-attachments {
  @extend .center, .page-width;
}

.page-detail-comments {
  @extend .center, .page-width, .long-text;
}