{% extends "projects/activities/base.html" %}
{% load breadcrumb %}

{% block breadcrumb_ %}
    {{ block.super }}
    {% with "Activity '"|add:activity.title|add:"'" as activity_name %}
        {% breadcrumb_url activity_name "projects:activities:detail" project.id activity.id %}
    {% endwith %}
{% endblock %}

{% block menu_title %}
    <h1>{{ activity.title }}</h1>
{% endblock %}

{% block app_content %}
    {# activity #}
    <div class="activity-description">
        <div class="activity-info">
            <span>Start date: {{ activity.start_date }}</span>
            <span>
                Due date: {{ activity.due_date }}
                {% if activity.is_closed %}
                    (closed)
                {% endif %}
            </span>
        </div>
        <div class="activity-body">
            {{ activity.body }}
            {% include "attachments.html" with attachments=activity.activity_attachments.all %}
        </div>
    </div>

    {# submissions #}
    <div class="activity-replies-list">
        {% if request.user.is_staff or request.user.role == PROJECT_ROLE.SCIENTIST %}
            {# Students cannot see other student's submissions #}
            <h2>Submissions</h2>
            {% for response in activity_responses %}
                <div class="box">
                    Submitted: {{ response.created }}
                    <span class="reply-body">{{ response.body }}</span>
                    {% include "attachments.html" with attachments=response.activity_response_attachments.all %}
                </div>
            {% empty %}
                <div class="center-text">
                    No submissions yet!
                </div>
            {% endfor %}

        {% else %}
            {# Students can see / edit their own submission #}
            <h2>Submission</h2>
            {% for response in user_activity_responses %}
                <div class="box">
                    Submitted: {{ response.created }}
                    <p>{{ response.body }}</p>
                    {% include "attachments.html" with attachments=response.activity_response_attachments.all %}
                </div>
            {% empty %}
                {% if activity.is_closed %}
                    <div class="text-center">
                        Activity is closed. No submissions are allowed.
                    </div>
                {% else %}
                    <a href="{% url "projects:activities:response-new" project.id activity.id %}">Submit a response</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}