{% extends "projects/activities/base.html" %}

{% block menu_title %}
    <h1>Activities</h1>
{% endblock %}

{% block app_content %}
    <div class="center page-width">
        {# grid header #}
        <div class="box box-header row">
            <div class="col-md-8">Title</div>
            <div class="col-md-2">Published</div>
            <div class="col-md-2">Ends</div>
        </div>

        {# grid content #}
        {% for activity in activities %}
            <div class="box row">
                <div class="col-md-8">
                    {{ activity.title }}
                </div>
                <div class="col-md-2">
                    {{ activity.start_date | date:'Y-m-d H:i' }}
                </div>
                <div class="col-md-2">
                    {{ activity.due_date | date:'Y-m-d H:i' }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}