{% extends "projects/activities/base.html" %}
{% load breadcrumb %}

{% block breadcrumb_ %}
    {{ block.super }}
    {% breadcrumb_url "New activity" "projects:activities:new" project.id %}
{% endblock %}

{% block menu_title %}
    <h1>New activity</h1>
{% endblock %}

{% block app_content %}
    <div class="center box" style="width:800px">
        <form method="post" enctype="multipart/form-data" action="">
            <div class="row">
                <div class="form-label">
                    <label for="id_title">Project:</label>
                </div>
                {{ project.title }}
            </div>

            {% include "form.html" with required_mark="*" %}
            <input type="submit" value="Create" />
        </form>
    </div>
{% endblock %}