{% extends "projects/comments/base.html" %}
{% load breadcrumb %}

{% block breadcrumb_ %}
    {{ block.super }}
    {% breadcrumb_url "Edit comment" "projects:comments:comment_edit" comment.id project.id %}
{% endblock %}

{% block menu_title %}
    <h1>Edit comment</h1>
{% endblock %}

{% block app_content %}
    <div class="center box" style="width:400px">
        <form method="post" action="">
            {% include "form.html" %}
            <input type="submit" value="Edit" />
        </form>
    </div>
{% endblock %}