{% extends "projects/base.html" %}
{% load breadcrumb %}

{% block breadcrumb_ %}
    {{ block.super }}
    {% with "User '"|add:user.get_short_name|add:"'" as user_name %}
        {% breadcrumb_url user_name "users:account" user.id %}
    {% endwith %}
    {% breadcrumb_url "Edit user" "users:edit-user" user.id %}
{% endblock %}

{% block menu_title %}
    <h1>Edit user</h1>
{% endblock %}

{% block app_content %}
    <div class="center box" style="width:400px">
        <form method="post" enctype="multipart/form-data" action="">
            {# TODO 2 columns on large displays #}
            <div class="row">
                <div class="form-label">
                    <label for="id_email">Email:</label>
                </div>
                {{ user.email }}
            </div>
            {% include "form.html" with required_mark="*" %}
            <input type="submit" value="Edit"/>
        </form>
    </div>
{% endblock %}