{% extends "users/base.html" %}
{% load staticfiles %}
{% block menu_title %}
    <h1>Users</h1>
{% endblock %}

{% block content_ %}

    <script type="text/javascript">
        function search(event, user) {
            if (event.which == 13 || event.keyCode == 13){
                location.href= '/users/search/' + user;
            }
        }
    </script>

    <div class="row search">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input id="txtSearch" type="text" class="form-control" placeholder="Search for name..." onkeypress="if(this.value)search(event,this.value)"/>
        </div>
    </div>

    <ul class="user-list">
        {% for user in users %}


                    <div class="col-xs-6 col-md-3">
                        <div class="thumbnail" style="min-height:200px;">
                         <a href="/users/{{ user.id }}"><img style="width:150px" class="imgCustom" src="media/{{ user.avatar }}" alt="..."></a>
                          <div class="caption">
                            <h3>Hi, I'm {{ user.first_name }} {{ user.last_name }}</h3>
                            <p> My birthday is: {{  user.birthday }}</p>
                            <p>    I'm from: {{ user.city }}</p>
                          </div>
                        </div>
                    </div>


            {% empty %}
                 <div class='alert alert-info alert-dismissible error-search' role= 'alert'>
                        <button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hideen='true'>&times;</span></button>
                        <strong>No results</strong> Your search returned no matches.
                 </div>
        {% endfor %}

    </ul>


{% endblock %}