{% extends "users/base.html" %}
{% load breadcrumb %}

{% block breadcrumb_ %}
    {{ block.super }}
    {% breadcrumb_url "Log in" "users:login" %}
{% endblock %}

{% block menu_title %}
    <h1>Log in</h1>
{% endblock %}

{% block content_ %}
    <div class="center box" style="width:400px">
        <form method="post" action="">
            {% for error in errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {% csrf_token %}
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
{% endblock %}