{% extends "users/base.html" %}

{% block menu_title %}
<h1>Log In</h1>
{% endblock %}

{% block app_content %}
    <div class="center box" style="width:400px">
        <form method="post" action="">
            {% for error in errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
            {% csrf_token %}
            <input type="text" name="email" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
{% endblock %}