/* CONSTANTS */
$PAGE_WIDTH: 1077px;
$LEFT-SIDEBAR-STARTING-WIDTH: 1590px;

$default-color: #00c6ff;
$default-font-color: #333;
$default-contrast-font-color: #fff;
$create-color: #febd69;
$light-grey: #ccc;
$lighter-grey: #dfdfdf;
$hyper-light-grey: #f9f9f9;
$dark-grey: #444;

/* MIXINS */

@mixin fullsize-background() {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

@mixin alt-text-background() {
  display: inline-block;
  text-indent: -999em;
  overflow:hidden;
}

@mixin round-btn($width: 50px, $height: 50px, $opacity: 0.7) {
  display: inline-block;
  background-color: #fff;
  border-radius: $width;
  width: $width;
  height: $height;
  opacity: $opacity;
  line-height: $height;
  text-align: center;
}

@mixin vertical-shadow($vertical-length:4px) {
  $horizontal-length: 0px;
  $blur-radius: 17px;
  $spread-radius: 0px;
  $shadow-color: rgba(0,0,0,.14);

  -webkit-box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius $shadow-color;
  -moz-box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius $shadow-color;
  box-shadow: $horizontal-length $vertical-length $blur-radius $spread-radius $shadow-color;
}

/* ANIMATIONS */

@keyframes a180 {
  from {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes raise {
  from {
    position:relative;
    top: 0px;
  }
  to {
    position:relative;
    top: -4px;
  }
}

@keyframes lower {
  from {
    position:relative;
    top: -4px;
  }
  to {
    position:relative;
    top: 0px;
  }
}

.raise-slowly {
  animation: raise;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.lower-slowly {
  animation: lower;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

/* STYLES */

body {
  //font-family: 'Open Sans,Helmet,Freesans,Trebuchet MS,sans-serif';
}

h1, h2 {
  margin: 0;
  padding: 10px 0 10px 0;
}

h1 > a, h2 > a {
  color: #333;

  &:link, &:visited, &:hover, &:active {
    color: #333;
  }
}

input[type="button"], input[type="submit"] {
  text-transform: uppercase;
}

a {
  color: #000;
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  color: $default-color;
  text-decoration: none;
}

form {
  padding: 10px 25px 10px 25px;

  .form-label {
    position:relative;
    top: 14px;
  }

  input {
    background-color: transparent;
    display: block;
    padding: 10px 10px 5px 10px;
    border: none;
    border-bottom: 1px solid #D8D8D8;
    font-size: 16px;
  }

  input + input {
    margin-top: 20px;
  }

  input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid $default-color;
  }

  input[type=button], input[type=submit] {
    margin-top: 40px;
    padding: 10px 20px 10px 20px;
    background-color: #D8D8D8;
    border-radius: 3px;

    &:hover {
      background-color: #e9e9e9;
    }
  }

  select {
    background-color: #FFF;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
  }

  select:focus {
    outline: none;
    border: none;
    border: 1px solid $default-color;
  }
}

.box {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  padding: 30px;
}

.corner-btn {
  @include vertical-shadow(4px);
  background-color: $create-color;
  border-radius: 999px;
  display: block;
  font-size: 30px;
  font-weight:100;
  text-align: center;
  width: 56px;
  height:56px;
  line-height: 56px;
  position:fixed;
  right: 15px;
  bottom: 15px;
  z-index: 2;

  &:link, &:visited, &:hover, &:active {
    color: #666;
    text-decoration: none;
  }

  &:hover {
    animation-name: a180;
    animation-duration: 0.5s;
  }
}

.center {
  margin: 0 auto;
}

.vcenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-text {
  text-align:center;
}

.full-center {
  @extend .center;
  @extend .vcenter;
  @extend .center-text;
}

.page-width { // use on page width limited
  width: $PAGE_WIDTH;
}

.sidebar {
  display: -webkit-flex;

  li {
    font-size: 16px;
    list-style-type: none;
    -webkit-flex: 1;
    flex: 1;

    &>a {
      color: $default-font-color;
      display:block;
      padding: 10px 30px 10px 30px;
      border-radius: 3px;
      width: 200px;
    }

    &:hover > a {
      background-color: rgba(0,0,0,.02);
      color: $default-font-color;
    }

    &.selected > a {
      background-color: rgba(0,0,0,.05);
    }
  }

  li li {
    font-size: 14px;
  }

  li + li {
    margin-top: 5px;
  }
}

.left {
  float:left;
}

.left-sidebar {
  @extend .sidebar;
  @extend .left;

}

@media (max-width: $LEFT-SIDEBAR-STARTING-WIDTH) {
  .sidebar {
    float: inherit;
    margin: 0 auto;
    width: $PAGE_WIDTH;
  }

  .sidebar ul {
    margin-left: -50px;
  }

  .sidebar li {
    display: inline-block;
    list-style-type: none;

    a {
      width: auto;
    }

    li {
      display:none;
    }
  }

  .sidebar li + li {
    margin: 0;
  }
}

.right {
  float: right;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.min-page-padding {
  padding: 25px 30px 25px 30px;
}

.error {
  color: #f00;
}

ul.enumerateless li {
  list-style-type: none;
}

.long-text {
  word-wrap: break-word;
}

#header {
  @extend .min-page-padding;
  @extend .clear;
  color: $default-contrast-font-color;
  background-color: #303B42;
  height: 94px;
  width: 100%;
  z-index:1;

  a {
    color: $default-contrast-font-color;
    &:hover {
      color: $default-color;
    }
  }

  #logo {
    @extend .left;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
  }
  /*#logo {
    @include fullsize-background;
    @include alt-text-background;
    background-image: url("../img/logo_full.png");
    width:130px;
    height:50px;
  }*/

  #header-nav {
    @extend .right;
    font-size: 17px;
    li {
      display:inline;
      list-style-type: none;
    }

    li + li {
      margin-left: 6px;
    }
  }
}

#menu {
  @extend .min-page-padding;
  /*background-color: #bccfdb;*/
  background-color: $hyper-light-grey;
  height: 100px;

  h1 {
    color: #333;
    font-weight: bold;
  }
}

#content {
  background-color: $hyper-light-grey;
  height: 800px; /* TODO */
}

/* IMPORTS */

@import 'home/base.scss';
@import 'users/base.scss';
@import 'projects/base.scss';
