{%  load compress %}
{%  load static %}
<html>
<head>
    <title>Simple - The project sharing platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    {% block cdn_stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    {% endblock %}

    {% block stylesheets %}
        {% compress css %}
            <link rel="stylesheet" type="text/scss" href="{% static "scss/style.scss" %}" />
        {% endcompress %}
    {% endblock %}
</head>
<body>
    {% block header %}
        <header id="header">
        {% block header_ %}
            <a id="logo" href="{% url "projects:list" %}">{{ PROJECT_NAME }}</a>

            {# header navigation #}
            {% block header-nav %}
                <nav id="header-nav">
                {% block header-nav_ %}
                    {% include "header-nav.html" %}
                {% endblock %}
                </nav>
            {% endblock %}

        {% endblock %}
        </header>
    {% endblock %}

    {% block menu %}
        <nav id="menu">
        {% block menu_ %}
            <div id="menu-title">{% block menu_title %}{% endblock %}</div>
        {% endblock %}
        </nav>
    {% endblock %}

    {% block content %}
        <div id="content">
        {% block content_ %}
        {% endblock %}
        </div>
    {% endblock %}

    {% block cdn_scripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% endblock %}

    {% block scripts %}
    {% endblock %}

    {% block local_scripts %}
    {% endblock %}
</body>
</html>