{% if form.errors %}
    <div class="error">
        {% for field in form %}
            {% if field.errors %}
                {{ field.label_tag }} {{ field.errors }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% csrf_token %}
<div class="container-fluid">
    {% for field in form %}
        {% if not field.is_hidden %}
            <div class="row">
                {{ field.label_tag }}
            </div>
        {% endif %}
        <div class="row">
             {{ field }}
        </div>
    {% endfor %}
