{% if form.errors %}
    <div class="error">
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.errors %}
                {{ field.label_tag }} {{ field.errors }}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% csrf_token %}
{% for field in form %}
    <div class="row">
        {% if not field.is_hidden %}
            <div class="form-label">
                {{ field.label_tag }}
                {% if field.field.required %}
                    {{ required_mark }}
                {% endif %}
            </div>
        {% endif %}
        {{ field }}
    </div>
{% endfor %}
<input type="hidden" name="next" value="{{ next }}" />